.select {
  width: 150px;

  border: 2px solid red;
}

option {
  color: forestgreen;

  background-color: aqua;
}

.input {
  margin: 10px;
  padding: 10px;

  font-weight: bold;
  color: #ffffff;

  background-color: #101010;
}

.box {
  box-sizing: content-box;
}

.box2 {
  border: 2px solid green;
}
