.select {
    border: 2px solid red;
    width: 150px;
}

option {
    background-color: aqua;
    color: forestgreen;
}

.input {
    padding: 10px;
    margin: 10px;
    background-color: #101010;
    color: #ffffff;
}
